* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #323846;
  padding: 10px;
  text-align: center;
  color: rgb(17, 154, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.secondItem {
  font-size: 35px;
  margin-left: -75%;
  font-weight: bold;
}

.itemListManager {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.inputSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inputField {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.addButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  border: none;
  width: 100%;
  max-width: 550px;
  font-weight: bold;
}

.addButton:hover {
  background-color: #45a049;
}

.itemList {
  list-style-type: none;
  padding-left: 0;
}

.item {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .itemListManager {
    margin: 20px;
    padding: 15px;
  }

  .inputSection {
    flex-direction: column;
    align-items: stretch;
  }

  .inputField {
    width: 100%;
    margin-bottom: 10px;
  }

  .addButton {
    width: 100%;
    margin-bottom: 10px;
  }

  .header {
    padding: 15px;
  }

  .logo {
    height: 30px;
  }

  .secondItem {
    font-size: 30px;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo {
    height: 25px;
    margin-bottom: 10px;
  }

  .secondItem {
    font-size: 25px;
    margin-left: 0;
  }

  .itemListManager {
    margin: 10px;
    padding: 10px;
  }

  .inputField {
    font-size: 14px;
  }

  .addButton {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }
}
